
.grid {
    display: table
}

.grid-row{
    height: 100px;
    margin-top: 10px;
    display: table-row;
    padding: 5px;
}

.grid-cell{
    height: 100px;
    width: 100px;
    border: 1px solid;
    display: table-cell;
    padding: 5px;
}

.grid-row:first-child .grid-cell:first-child {
    padding: 5px 0px 0px 5px;
    background-color: antiquewhite;

}

.grid-row:first-child .grid-cell:first-child {
    padding: 5px 5px 0px 0px;
}

.grid-row:last-child .grid-cell:last-child {
    padding: 0px 5px 5px 0px;
}

.grid-row:last-child .grid-cell:first-child {
    padding: 0px 0px 5px 5px;
}

#temp {
    display: none;
}