body {
    background-color: #999;
}

.grid {
    background-color: black;
    display: inline-block;
}

#content-grid {
    width: 668px;
    height: 642px;
    position: relative;
}
.grid-row {
    height: 199px;
    width: 100%;
    padding: 5px;
}

.grid-cell {
    width: 215px;
    padding: 2px;
    float: left;
}

.large-grid-cell{
    width: 435px;
}
.product_template {
    border: 1px solid;
    height: 195px;
    padding: 5px;
    text-align: center;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    -webkit-transition : all 0.3s;
    -moz-transition : all 0.3s;
    transition : all 0.3s;
}

.product_template:hover {
    opacity: 0.5;
    cursor: pointer;
}

.product_template_label {
    margin-top: 40%;
}

#user-data{
    display: inline-block;
    padding: 16px;
    background-color: rgb(175, 170, 170);
    float: right;
    border: 1px solid gray;
    /*min-width:17%;*/
    /*min-height:23%;*/
}

#label-user-data{
    text-align: center;
}
